In [1]:
import pandas as pd

In [2]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [3]:
def extract_year(column):
    return column.split('-')[0]

In [4]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [5]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [6]:
def current_year(year, nowtime):
    return nowtime - int(year)

In [7]:
df['age'] = df['year'].apply(current_year, nowtime=2022)

In [8]:
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   22
1  2002-09-24  2002   20
2  2005-12-20  2005   17