In [29]:
import pandas as pd
from collections import *

In [13]:
friend_dict_list = OrderedDict ([
    ('name', ['John','Nate']),
    ('age', [25,30]),
    ('job', ['student', 'teacher'])
])

In [16]:
df = pd.DataFrame(friend_dict_list)

In [17]:
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [20]:
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]

In [21]:
column_name = ['name', 'age', 'job']

In [22]:
df = pd.DataFrame.from_records(friend_list, columns= column_name)

In [23]:
df

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [24]:
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', [20,30]],
    ['job', ['student', 'teacher']]
]

In [33]:
df = pd.DataFrame.from_dict(dict(friend_list))

In [34]:
df

   name  age      job
0  John   20  student
1  Nate   30  teacher