In [1]:
import pandas as pd

In [3]:
friend_dict_list = [{'name': 'Jone', 'age': 20, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': 'developer'},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friend_dict_list)

In [4]:
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [7]:
df.to_csv('data/friends.csv', index= True, header = True)