In [1]:
import pandas as pd

In [2]:
friend_list = [ 
                ['name',['John', 'Jenny', 'Nate']],
                ['age',[20,30,30]],
                ['job',['student', 'developer', 'teacher']] 
              ]
df = pd.DataFrame.from_dict(dict(friend_list))

In [6]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [31]:
df = pd.read_csv('/Users/hallucy/Desktop/Coding/VSC/Python/pandas/data/friend_list_no_head.csv', header = None, names=['names','age','job'])

In [34]:
df = df[df.age > 20]

In [36]:
df['salary'] = 0

In [39]:
import numpy as np

In [49]:
test2nd = [ 
                ['name',['John', 'Jenny', 'Nate']],
                ['midterm',[75,47,89]],
                ['final',[48, 99, 85]] 
              ]
df = pd.DataFrame.from_dict(dict(test2nd))

In [50]:
df['total'] = df['midterm'] + df['final']

In [55]:
df['avg'] = df['total']/2

In [57]:
grades = []

for row in df['avg']:
    if row >= 90:
        grades.append('A')
    elif row >= 80:
        grades.append('B')
    elif row >= 70:
        grades.append('C')
    else:
        grades.append('F')

df['grades'] = grades

In [61]:
def pass_or_fail(row):
    if row != 'F':
        return 'PASS'
    else:
        return 'FAIL'

df.grades = df.grades.apply(pass_or_fail)

In [64]:
date_list = [
    {
        'yyyy-mm-dd' : '2000-06-27'
    },
    {
        'yyyy-mm-dd' : '2007-10-10'
    }
]

df = pd.DataFrame(date_list, columns=['yyyy-mm-dd'])

In [70]:
def extract_year(row):
    return row.split('-')[0]

In [71]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [72]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2007-10-10  2007

In [89]:
test3th = [ 
                ['name',['John', 'Jenny', 'Nate']],
                ['midterm',[75,47,89]],
                ['final',[48, 99, 85]] 
              ]
df = pd.DataFrame.from_dict(dict(test3th))

In [92]:
df2 = pd.DataFrame([['Ben', '60', '65']], columns=['name','midterm','final'])

In [94]:
df

    name  midterm  final
0   John       75     48
1  Jenny       47     99
2   Nate       89     85

In [95]:
df2

  name midterm final
0  Ben      60    65