In [4]:
import pandas as pd

In [5]:
test3th = [ 
                ['name',['John', 'Jenny', 'Nate']],
                ['midterm',[75,47,89]],
                ['final',[48, 99, 85]] 
              ]
df = pd.DataFrame.from_dict(dict(test3th))

In [7]:
df2 = pd.DataFrame([['Ben', '60', '65']], columns=['name','midterm','final'])

In [11]:
df = df.append(df2, ignore_index=True)

/var/folders/8_/x4_3r7892zg70kjknw51f8n00000gn/T/ipykernel_7220/445450659.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [12]:
df

    name midterm final
0   John      75    48
1  Jenny      47    99
2   Nate      89    85
3    Ben      60    65